<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Superhero</title>
</head>
<body>
    <h1> Are you sure you want to delete {{selected_hero.name}}? </h1>
    <form action="{% url 'superhero:delete_hero' selected_hero.id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
    <form action="{% url 'superhero:detail' selected_hero.id %}" method="get">
        {% csrf_token %}
        <input type="submit" value="Cancel">
    </form>
</body>
</html>